<div class="row">
  <div class="col-md-8">
    <h3>{{ post.title }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <strong>By {{ post.author.first_name }} {{ post.author.last_name }}</strong>
  </div>
</div>
<div class="row">
  <div class="col-md-8" style="margin-top: 5px;">
    Subjects:
    <span *ngFor="let subject of post.subjects" class="label label-default" style="margin-left: 3px;">{{ subject }}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-8" style="margin-top: 20px">
    <p>{{ post.content }}</p>
  </div>
</div>
